@import "~bootstrap/scss/bootstrap.scss";
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.thinnerDiv{
  margin: auto;
  background-color: black;
  height: 50px;
  width: 10px;
  border-radius: 10px;
  border: 3px solid #BADA55;
}
/*

    You can write your own styles here...


    ...Or you can use the import command to include
    other sylesheets into your bunde as well, e.j:

    import 'relative/path/to/stylesheet.scss';

*/
